<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/users/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">name</label>
    <input type="text" th:field="*{name}" id="name">
    <br/>
    <label for="lastName">last name</label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <br/>
    <label for="email">email</label>
    <input type="text" th:field="*{email}" id="email">
    <br/>
    <input type="submit" value="Update!">

    <form th:action="@{/logout}" method="post">
        <button type="submit">Sign Out</button>
    </form>

</form>
</body>
</html>